.creat-product form {
  margin-top: 50px;
}
.creat-product form input,
.creat-product form textarea,
.creat-product form select,
.creat-product form button {
  display: block;
  margin-top: 20px;
  width: 100%;
  padding: 10px 5px;
  outline: none;
  border: 1px solid #333;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.creat-product form textarea {
  resize: none;
}

.creat-product form button {
  font-size: 18px;
  cursor: pointer;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.creat-product form button:hover {
  background-color: #333;
  color: #fff;
}
