/* Start Global Rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Oswald", sans-serif;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}
a {
  text-decoration: none;
}
/* End Global Rules */

/* Start media query */
@media (max-width: 575px) {
  /* extra Small Screen Rules  */
  .container {
    width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  /* Small Screen Rules  */
  .container {
    width: 540px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* Medium Screen Rules  */
  .container {
    width: 720px;
  }
}

@media (min-width: 992px) and (max-width: 1999px) {
  /* Large Screen Rules  */
  .container {
    width: 960px;
  }
}

@media (min-width: 1200px) and (max-width: 1399px) {
  /* X-Large Screen Rules  */
  .container {
    width: 1140px;
  }
}

@media (min-width: 1400px) {
  /* X-Large Screen Rules  */
  .container {
    width: 1320px;
  }
}
/* End  media query */

/* Start header */
header nav {
  background-color: #333333;
  padding: 10px;
}
header nav .nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
@media (max-width: 575px) {
  header nav .nav-content {
    flex-direction: column;
    gap: 25px;
  }
}
header nav .logo a {
  color: #fff;
  font-size: 30px;
}
header nav .sign {
  display: flex;
  gap: 20px;
}
header nav .user-info {
  display: none;
  align-items: center;
  gap: 20px;
}
header nav .sign a,
header nav .user-info a {
  color: #fff;
  font-size: 20px;
}
header nav .user-info i {
  font-size: 20px;
  cursor: pointer;
  position: relative;
}
header nav .user-info .badge {
  position: absolute;
  display: inline-block;
  top: -10px;
  left: 13px;
  font-size: 12px;
  font-weight: bold;
  background-color: red;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  text-align: center;
  line-height: 18px;
  display: none;
  user-select: none;
}

header nav .user-info .carts-products {
  position: absolute;
  top: 42px;
  right: -80px;
  text-align: center;
  color: #fff;
  width: 170px;
  border: 1px solid #fff;
  background-color: #333;
  display: none;
}
/* header nav .user-info .carts-products.hidden {
  display: none;
} */
@media (max-width: 575px) {
  header nav .user-info .carts-products {
    top: 35px;
  }
}
header nav .user-info .carts-products .product {
  cursor: default;
  margin-bottom: 10px;
  user-select: none;
}
header nav .user-info .carts-products .product .product-name {
  margin-bottom: 10px;
  font-size: 18px;
}
header nav .user-info .carts-products a {
  display: block;
  background-color: #266403;
  padding: 5px;
  font-size: 14px;
  user-select: none;
}
/* End header */

/* Start Form */

.form-content {
  position: relative;
  background-color: red;
  width: 50%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin: 50px auto;
}
.form-content h2 {
  text-align: center;
  padding-top: 20px;
  margin-bottom: 15px;
  font-size: 30px;
  color: #333333;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 767px) {
  .form-content {
    width: 90%;
  }
}

form input,
form button {
  border: none;
  width: 80%;
  padding: 15px 10px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  font-family: "Oswald", sans-serif;
}
form input {
  margin: 20px 0;
  outline: none;
}

form button {
  font-size: 25px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

form button:hover {
  background-color: #333;
  color: #fff;
}
form .to-sign {
  margin: 20px 0;
  font-size: 20px;
}

.form-content .alert {
  background-color: #dc3545;
  font-size: 25px;
  text-align: center;
  color: #fff;
  position: absolute;
  left: 50%;
  top: -10%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  width: 80%;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  display: none;
}
/* End Form */

/* Start shopping cart section */
.shopping-cart input[type="search"] {
  width: 100%;
  outline: none;
  padding: 10px;
  margin: 30px 0;
}

.shopping-cart .products {
  display: flex;
}
@media (max-width: 1050px) {
  .shopping-cart .products {
    flex-direction: column;
  }
}
.products .products-container {
  flex: 1.5;
}
.products .products-container .product-item {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ccc;
  height: 140px;
  width: 99%;
  margin: 20px auto;
}
.products .carts-heading,
.products .favorites-heading {
  color: green;
  font-size: 30px;
  text-align: center;
}
/* Start cart products as no product */
.products-container .no-products {
  color: #fff;
  background-color: #dc3545;
  font-size: 30px;
  margin: 50px auto;
  width: fit-content;
  padding: 20px 30px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
/* End cart products as no product */
.products .product-item img {
  width: 150px;
  margin-right: 10px;
  position: relative;
}
.products .product-item .product-info {
  flex: 1;
}
.products .product-info a {
  display: block;
  margin-top: 8px;
  color: green;
  font-size: 22px;
  font-weight: bold;
  text-decoration: underline;
}
.products .product-info h3 {
  margin-top: 8px;
  font-size: 22px;
}
.products .product-info p {
  margin: 12px 0;
  line-height: 1.5;
}
.products .product-item .cart-action {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
}
.products .cart-action button {
  border: none;
  background-color: #266403;
  color: #fff;
  padding: 10px;
  cursor: pointer;
}
.products .cart-action i {
  cursor: pointer;
  padding: 5px;
}
.products .products-filter {
  flex: 1;
  margin-left: 30px;
}
@media (max-width: 1050px) {
  .products .products-filter {
    order: -1;
    margin-bottom: 20px;
    margin-left: 0;
  }
}
.products .products-filter h3 {
  font-size: 30px;
}
.products .products-filter select {
  width: 100%;
  margin-top: 20px;
  padding: 10px 0;
  outline: none;
}
@media (max-width: 575px) {
  .products .product-item img {
    width: 120px;
  }
  .products .product-item .product-info p {
    font-size: 14px;
  }
  .products .cart-action button {
    padding: 5px;
  }
}

/* End shopping cart section */

/* Start product Details */
.product-Details img {
  display: block;
  width: 350px;
  margin: 10px auto;
  box-shadow: 1px 1px 5px #333;
}
.product-Details .product-info {
  text-align: center;
}
.product-Details .product-info h3 {
  font-size: 35px;
}

.product-Details .product-info p {
  font-size: 25px;
  margin: 2px 0;
}
.product-Details .product-info .size {
  font-size: 25px;
}
/* End product Details */
